<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= comment.likes.count %>
  </p>

  <p>
    <% if current_user.likes.exists?(comment: comment) %>
      <%= button_to article_comment_like_path(comment.article.id, comment.id, current_user.likes.find_by(comment: comment).id), method: :delete, class: "unlike-button-circle", data: { turbo_confirm: "Remove your like?" } do %>
        ⭕ Unlike
      <% end %>
    <% else %>
      <%= button_to article_comment_likes_path(comment.article.id, comment.id), method: :post, class: "like-button-circle" do %>
        ⭕ Like
      <% end %>
    <% end %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>
